
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: radial-gradient(#fff, #282A3A);
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 2rem;

}

.user {
  left: 71rem;
  top: 2rem;
  cursor: pointer;
  background-color: #002B5B;
  color: #fff;
  width: 8rem;
  height: 2rem;
  border: none;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.Upper{
  display: flex;
  margin-top: 2rem;
}

.title{
  top: 3rem;
  left: 30rem;
  font-size: 3em;
  text-transform: uppercase;
  width: 100%;
  line-height: 0.70em;
  outline: none;
  color: #000000;
  display: flex;
  justify-content: center;

}


.hola {
  background-color: aqua;
}


.List {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 7rem;
  left: 5.2rem;
  gap: 4rem;
  margin-top: 2rem;  
}

.List li {
  list-style: none;
  display: grid;
  place-content: center;
  gap: 2rem;
  width: 280px;
  height: 400px;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  border-top:1px solid rgba(255, 255, 255, 0.5);
  border-left:1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
}



.Form{
  background-color: #002B5B;
  display: grid;
  place-content: center;
  gap: 2rem;
  z-index: 100;
  width: 23.5rem;
  height: 26rem;
  border-radius: 20px;
  color: #fff;
  position: absolute;
}

.cross{
  display:flex;
  position: relative;
}

.new{
  position: relative;
  left: 4.2rem;
  bottom: 0.1rem;

}

.button{
  position: relative;
  left: 11rem;
  background-color: #002B5B;
  border: none;
  bottom: 0.5rem;
  font-size: 1.3rem;
  height: 1rem;
  cursor: pointer;
  color: #fff;
}

.name{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 1rem;
}

.name input{
  border-radius: 20px;
  top: 0.5rem;
  height: 1.5rem;
  width: 18rem;
}

.category{
  display: flex;
  flex-direction: column;
  right: 1rem;
}

.category input{
  border-radius: 20px;
  top: 0.5rem;
  height: 1.5rem;
}

.price{
  display: flex;
  flex-direction: column;
  right: 1rem;
}

.price input{
  border-radius: 20px;
  top: 0.5rem;
  height: 1.5rem;
}

.available{
  right: 1rem;
}

.available input{
  left: 1rem;
}

.create{
  width: 18rem;
  height: 2rem;
  border-radius: 20px;
  cursor: pointer;
}

.Delete{
  position: relative;
  left: 10rem;
  display: flex;
}

.trash{
  background-color: #850E35;
  color: #fff;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  right: 1rem;
  cursor: pointer;
}

.pen{
  background-color: #A62349;
  color: #fff;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.NAME{
  display: flex;
  flex-direction: column;
  right: 1rem;
  font-size: 2em;
  pointer-events: none;
  bottom: 5rem;
}

.CATEGORY{
  display: flex;
  flex-direction: column;
  right: 1rem;
  bottom: 3rem;
}

.CATEGORY span{
  color: rgba(110, 77, 175, 0.5);
}

.PRICE{
  display: flex;
  flex-direction: column;
  right: 1rem;
  bottom: 1rem;
}

.PRICE span{
  color: rgba(110, 77, 175, 0.5);
}

.AVAILABILITY{
  display: flex;
  flex-direction: column;
  right: 1rem;
  bottom: -1rem;
}

.AVAILABILITY span{
  color: rgba(110, 77, 175, 0.5);
}


 @media screen and (max-width: 320px){

 
  .List{
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }

  .Upper{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .List li{
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title{
    font-size: 20px;
  }

  .user{
    width: 4.5rem;
    font-size: 9px;
    margin-top: 2rem;
  }

  .Form{
    z-index: 100;
    left: 3.4rem;
    top: 12rem;
    width: 13rem;
    display: grid;
    place-content: center;
  }

  .button{
    left: 5.5rem;
  }

  .create{
    width: 8rem;
    position: relative;
    left: 2rem;
  }

  

  .cross{
    position: relative;
    right: 3.5rem;
  }

  .cross button{
    bottom: 1rem;
  }

  .name{
    position: relative;
    left: 0.1rem;
  }

  .name input{
    width: 10.5rem;
  }

  .name input::placeholder{
    left: 1rem;
    font-size: 10px;
  }

  .category{
    position: relative;
    left: 0.1rem;
  }

  .category input{
    width: 10.5rem;
  }

  .category input::placeholder{
    position: relative;
    left: 1rem;
    font-size: 10px;
  }

  .price{
    position: relative;
    left: 0.1rem;
  }

  .price input{
    width: 10.5rem;
  }

  .price input::placeholder{
    position: relative;
    left: 1rem;
  }

  .available{
    position: relative;
    left: 0.1rem;
  }

  .available input{
    position: relative;
    left: 1rem;
  }

  .Delete{
    position: relative;
    left: 4rem;
  }

  .NAME{
    font-size: 1.5rem;
  }

  .CATEGORY{
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .PRICE{
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .AVAILABILITY{
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 321px){

 
  .List{
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }

  .Upper{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .List li{
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title{
    font-size: 27px;
  }

  .user{
    width: 5.5rem;
    font-size: 11px;
    margin-top: 2rem;
  }

  .Form{
    z-index: 100;
    left: 6.04rem;
    top: 12.3rem;
    width: 17rem;
  }

  .button{
    left: 8rem;
  }

  .create{
    width: 12rem;
    position: relative;
    left: 2rem;
  }

  .cross{
    right: 1rem;
  }

  .cross button{
    position: relative;
    left: 7rem;
    bottom: 1rem;
  }

  .name{
    position: relative;
    left: 0.2rem;
  }

  .name input{
    width: 15rem;
    
  }

  .name input::placeholder{
    left: 1rem;
  }

  .category{
    position: relative;
    left: 0.2rem;
  }

  .category input{
    width: 15rem;
  }

  .category input::placeholder{
    position: relative;
    left: 1rem;
  }

  .price{
    position: relative;
    left: 0.2rem;
  }

  .price input{
    width: 15rem;
  }

  .price input::placeholder{
    position: relative;
    left: 1rem;
  }

  .available{
    position: relative;
    left: 0.4rem;
  }

  .available input{
    position: relative;
    left: 2rem;
  }

  .Delete{
    position: relative;
    left: 5rem;
    width: 4rem;
  }

  .NAME{
    font-size: 1.8rem;
  }

  .CATEGORY{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .PRICE{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .AVAILABILITY{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 576px){

 
  .List{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
  }

  .Upper{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .List li{
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title{
    font-size: 27px;
  }

  .user{
    width: 5.5rem;
    font-size: 11px;
    margin-top: 2rem;
  }

  .Form{
    z-index: 100;
    left: 6.04rem;
    top: 12.3rem;
    width: 17rem;
  }

  .button{
    left: 8rem;
  }

  .create{
    width: 12rem;
    position: relative;
    left: 2rem;
  }

  .cross{
    right: 1rem;
  }

  .cross button{
    position: relative;
    left: 7rem;
    bottom: 1rem;
  }

  .name{
    position: relative;
    left: 0.2rem;
  }

  .name input{
    width: 15rem;
    
  }

  .name input::placeholder{
    left: 1rem;
  }

  .category{
    position: relative;
    left: 0.2rem;
  }

  .category input{
    width: 15rem;
  }

  .category input::placeholder{
    position: relative;
    left: 1rem;
  }

  .price{
    position: relative;
    left: 0.2rem;
  }

  .price input{
    width: 15rem;
  }

  .price input::placeholder{
    position: relative;
    left: 1rem;
  }

  .available{
    position: relative;
    left: 0.4rem;
  }

  .available input{
    position: relative;
    left: 2rem;
  }

  .Delete{
    position: relative;
    left: 5rem;
    width: 4rem;
  }

  .NAME{
    font-size: 1.8rem;
  }

  .CATEGORY{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .PRICE{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .AVAILABILITY{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 769px){

 
  .List{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    gap: 2.5rem;
  }

  .Upper{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .List li{
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title{
    font-size: 27px;
  }

  .user{
    width: 5.5rem;
    font-size: 11px;
    margin-top: 2rem;
  }

  .Form{
    z-index: 100;
    left: 17.94rem;
    top: 12.3rem;
    width: 14rem;
  }

  .button{
    left: 8rem;
  }

  .create{
    width: 8rem;
    position: relative;
    left: 2rem;;
  }

  .cross{
    right: 2rem;
    font-size: 15px;
  }

  .cross button{
    position: relative;
    left: 6rem;
    bottom: 1rem;
    font-size: 15px;
  }

  .name{
    position: relative;
    left: 0.2rem;
  }

  .name input{
    width: 12rem;
    
  }

  .name input::placeholder{
    position: relative;
    left: 0.8rem;
    font-size: 11px;
  }

  .category{
    position: relative;
    left: 0.2rem;;
  }

  .category input{
    width: 12rem;
  }

  .category input::placeholder{
    position: relative;
    left: 0.8rem;
    font-size: 11px;
  }

  .price{
    position: relative;
    left: 0.2rem;;
  }

  .price input{
    width: 12rem;
  }

  .price input::placeholder{
    position: relative;
    left: 0.8rem;
    font-size: 11px;
  }

  .available{
    position: relative;
    left: 0.2rem;;
  }

  .available input{
    position: relative;
    left: 2rem;
  }

  .Delete{
    position: relative;
    left: 5rem;
    width: 4rem;
  }

  .NAME{
    font-size: 1.8rem;
  }

  .CATEGORY{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .PRICE{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .AVAILABILITY{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 992px){

 
  .List{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    gap: 4rem;
  }

  .Upper{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .List li{
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title{
    font-size: 32px;
  }

  .user{
    width: 7.5rem;
    font-size: 15px;
    margin-top: 2rem;
  }

  .container{
    display: flex;
    justify-content: center;
  }

  .Form{
    width: 18rem;
    position: absolute;
    left: 32.8rem;
    top: 13rem;
  }

  .button{
    left: 8rem;
  }

  .create{
    width: 12rem;
    position: relative;
    left: 2rem;
  }

  .cross{
    right: 1rem;
  }

  .cross button{
    position: relative;
    left: 7rem;
    bottom: 1rem;
  }

  .name{
    position: relative;
    left: 0.2rem;
  }

  .name input{
    width: 15rem;
    
  }

  .name input::placeholder{
    left: 1rem;
  }

  .category{
    position: relative;
    left: 0.2rem;
  }

  .category input{
    width: 15rem;
  }

  .category input::placeholder{
    position: relative;
    left: 1rem;
  }

  .price{
    position: relative;
    left: 0.2rem;
  }

  .price input{
    width: 15rem;
  }

  .price input::placeholder{
    position: relative;
    left: 1rem;
  }

  .available{
    position: relative;
    left: 0.4rem;
  }

  .available input{
    position: relative;
    left: 2rem;
  }

  .Delete{
    position: relative;
    left: 5rem;
    width: 4rem;
  }

  .NAME{
    font-size: 1.8rem;
  }

  .CATEGORY{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .PRICE{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .AVAILABILITY{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
}




